/* css for klokke 
.klokke {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.screen {
  background-color: #646464;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.time {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
*/


/* teller */
/* Counter Container
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Count Display
.count-display {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Button Container
.button-container {
  display: flex;
  gap: 10px;
}

/* Buttons
.btn {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-success
  background-color: #00ff00;
  color: #fff;
}

.btn-danger {
  background-color: #ff0800;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

/* Hover and Active Styles for Buttons 
.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: scale(0.95);
}

body{
  color: white;
  background-color: black;
}
*/
/*
body{
  text-align: center;
  color:  white;
  background-color: black;
}

.result-text{
  color: yellow;
}

.rps-button{
  background-color: rgb(255, 255, 255);
}
*/



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  background-color: #282c34;
  height: 100vh;
}

.forste_rad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
}

.andre_rad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
}

.tredje_rad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
}

.learer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: black;
  width: 10%;
  height: 50%;
  border: solid white 2px;
  background: darkgray;
  border-radius: 15%;
}