/* css for klokke 
.klokke {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.screen {
  background-color: #646464;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.time {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
*/


/* teller */
/* Counter Container
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Count Display
.count-display {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Button Container
.button-container {
  display: flex;
  gap: 10px;
}

/* Buttons
.btn {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-success
  background-color: #00ff00;
  color: #fff;
}

.btn-danger {
  background-color: #ff0800;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

/* Hover and Active Styles for Buttons 
.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: scale(0.95);
}

body{
  color: white;
  background-color: black;
}
*/


/* RPSGame.css */

.rps-container {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  width: 300px;
}

h1 {
  color: #007BFF;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.rps-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.rps-button:hover {
  background-color: #0056b3;
}

.result-container {
  margin-top: 20px;
}

.result-text {
  font-size: 20px;
  font-weight: bold;
  color: #ff0019;
}


body{
  color: white;
  background-color: black;
}