.quiz-container {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.quiz-container h2 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.quiz-container p {
  color: #cccccc;
  margin-bottom: 10px;
}

.quiz-container button {
  background-color: #ffcc00;
  color: #333333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.quiz-container button:hover {
  background-color: #ffffff;
  color: #333333;
}